body {
  background-image: linear-gradient(
    -225deg,
    #f585bb 0%,
    #926594 50%,
    #564d6d 100%
  );
  color: #ffffff;
}
.nav {
  background-color: #5e585e;
}

.section-pro {
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 10px;
  background-color: #5e585e;
  color: #faaca8;
}
.title {
  text-align: center;
  padding: 10px;
}
p {
  text-align: center;
}
.footer {
  background-color: #5e585e;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.social-media {
  padding: 0;
  list-style: none;
  margin: 0.5em;
}
.footer li {
  display: inline-block;
  margin: 0.1em;
  padding: 0 10px;
}
.contenedor-insta {
  height: 520px;
  padding: 5px;
  margin-bottom: 10px;
}
.reservar {
  background-image: url(./assets/img/reservar.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  padding: 25px 10px;
}
/* .card:hover {
  transform: scale(1.05);
  transition: 1s all;
} */
.title2 {
  color: #5e5e5e;
}
aside {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.img-mapa {
  max-width: 350px;
}
.card-map {
  background-color: white;
}
.card-promo {
  background-color: white;
}
.title-micro {
  text-align: center;
  letter-spacing: 2px;
  background-image: url(./assets/img/micropig1.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px 0px;
}

.p-micro {
  padding: 25px;
}
.micro-section {
  padding: 20px 10px;
}
